$colBack: #ffffff;
$colBase: #f7f7f7;
$colEdge: #cccccc;
$maxWidth: 1000;
$headerH:  176;
$footerH:  11;

$black: #000000;
$grey1: #333333;
$grey2: #666666;
$grey3: #999999;
$grey4: #CCCCCC;
$white: #FFFFFF;

@mixin css3d($key, $value) {
	 -moz-#{$key}: $value;
	   -o-#{$key}: $value;
  -webkit-#{$key}: $value;
	  -ms-#{$key}: $value;
		  #{$key}: $value;
}
@mixin css3Transition($time: 0.3s, $type: ease-out) {
	@include css3d(transition, all $time $type);
}
@mixin opacity($alpha: 100) {
	opacity: $alpha / 100;
	filter: alpha(opacity=#{$alpha});
}
@mixin abspos($l: auto, $t: auto, $r: auto, $b: auto) {
	position: absolute;
	@if $l != auto { left:   #{$l}px; }
	@if $t != auto { top:    #{$t}px; }
	@if $r != auto { right:  #{$r}px; }
	@if $b != auto { bottom: #{$b}px; }
}
@mixin rectangle($w: auto, $h: auto, $s: auto) {
	@if $w != auto { width:  #{$w}px; }
	@if $h != auto { height: #{$h}px; }
	@if $s != auto {
		width:  #{$s}px;
		height: #{$s}px;
	}
}
@mixin gradient($color1, $color2) {
  background-color: #{$color2};
  background-image: -webkit-gradient(linear, left top, left bottom, from(#{$color1}), to(#{$color2})); 
  background-image: -webkit-linear-gradient(top, #{$color1}, #{$color2}); 
  background-image:    -moz-linear-gradient(top, #{$color1}, #{$color2}); 
  background-image:     -ms-linear-gradient(top, #{$color1}, #{$color2}); 
  background-image:      -o-linear-gradient(top, #{$color1}, #{$color2}); 
  background-image:         linear-gradient(top, #{$color1}, #{$color2});
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$color1}', EndColorStr='#{$color2}'); 
}

/******************************************************/


body {
	@include gradient($grey4, $white);
	margin-bottom: 10px;
	background-repeat: no-repeat;
	color: $grey1;
}
h1 { 
	font-size: 18pt; 
	color: #369; 
}
a {
	cursor: pointer;
}

#header {
	background: url("static/header.png");
	height: #{$headerH}px;
	width: #{$maxWidth}px;
	margin: 0 auto;
}

#container {
	background: url("static/container_shadow.png");
	position: relative;
	padding: 25px;
	margin: 0 auto;
	width: #{$maxWidth - 50}px;
	select {
		margin: 5px 0px;
		padding: 3px;
		font: {
			size: 8pt;
			family: Arial;
			color: $grey2;
		}		
		border: 1px $grey3 solid;
	}
	select.sel {
		width: 325px;
		height: 140px;
	}
	#tabs {
		overflow: hidden;
		padding-bottom: 5px;
	}
	#menu {
		margin-bottom: 25px;
		span {
			font-size: 9pt;
			margin-left: 5px;
			color: darken($grey2, 15%);
		}
		#leftOption1 {
			input {
				font-size: 8pt;
				padding: 2px 6px;
				border: 1px solid $grey3;
				background: lighten($grey3, 25%);
				display: inline-block;
				color: $grey2;
				&:hover {
					color: darken($grey2, 15%);
					background: lighten($grey3, 15%);
				}
			}
		}
		#leftOption4 {
			margin-top: 10px;
			padding-top: 5px;
			border-top: dashed 1px $grey3;
			text-align: center;
			input {
				font-size: 20px;
				padding: 5px 20px;
				border: 1px solid $grey3;
				background: lighten($grey3, 25%);
				display: inline-block;
				margin: 10px;
				color: $grey2;
				&:hover {
					color: darken($grey2, 15%);
					background: lighten($grey3, 15%);
				}
			}
			#message {
				margin-top: 10px;
				display: none;
				color: darken(#ff0000, 20%);
				background: lighten(#ff0000, 40%);
				padding: 5px 10px;
				font-size: 9pt;
			}
		}
		p { 
			margin: {
				top: 10px; 
				bottom: 5px; 
			}
		}
	}
}

#footer {
	background: url("static/shadow_bottom.png");
	height: #{$footerH}px;
	position: relative;
	margin: 0 auto;
	width: #{$maxWidth}px;
}

#dtable {
	font: {
		size: 8pt;
	}
	.dataInnerts {
		b {
			font-weight: bolder;
			font-size: 110%;
			display: block;
			margin: 5px 0px;
		}
		p {
			margin-left: 5px;
			margin-bottom: 5px;
		}
	}
}
